{% extends "base.html" %}

{% block announce %}
<span class="announce-bar">
  <span class="announce-bar__credit">
    <span class="announce-bar__chip">
      <img src="{{ 'assets/logos/github.svg' | url }}" alt="" />
      GitHub
    </span>
    <span class="announce-bar__chip">
      <img src="{{ 'assets/logos/microsoft.svg' | url }}" alt="" />
      Microsoft
    </span>
    <span class="announce-bar__label">Built by the GitHub &amp; Microsoft platforms teams</span>
  </span>
</span>
{% endblock %}
